<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <style type="text/css">      
    body {
          margin: 0 auto;
          width: 518px;
          text-align: left;
      }
      input[type="text"], input[type="password"] {
        border: 1px solid #999;
        padding: 13px 7px 0px;
        width: 500px;
      }
      
      label {
        width: 150px;
        display: block;
      }
      
      input[type="submit"] {
        float: right;
        padding: 3px 10px 1px;
      }
    </style>    
  </head>
  
  <body>    
  <h1>Đổi mật khẩu</h1>
    <form method="POST" action="/change_password">
      <label>Tên đăng nhập</label>
      <input name="username" type="text">
      
      <label>Mật khẩu cũ</label>
      <input name="old_passwd" type="password" />
      <label>Mật khẩu mới</label>
      <input name="new_passwd" type="password" />
      <label>Gõ lại</label>
      <input name="retype" type="password" />
      <input type="submit" value="Đổi mật khẩu" />
    </form>
  </body>  
</html>


